*,
*::after,
*::before {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

.minus-icon-btn, p {
    display: none;
}

.plus-icon-btn, .minus-icon-btn {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: none;
}

#section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.top_bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.faq_first_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 100px;
  padding: 10px;
}

.mobile_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid red;
}

.mobile_nav_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_list_container {
  position: absolute;
  left: 50%;
  top: 7%;
  display: none;
}

.close_icon_btn {
  display: none;
  border-radius: 50%;
  background-color: #000;
}
