*,
*::after,
*::before {
  box-sizing: border-box;
  list-style: none;
}

.minus-icon-btn, p {
    display: none;
}

.plus-icon-btn, .minus-icon-btn {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    background: none;
}