*,
*::after,
*::before {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

.minus-icon-btn, p {
    display: none;
}

.plus-icon-btn, .minus-icon-btn {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: none;
}

#section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.top_bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.faq_first_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 100px;
  padding: 10px;
}

.mobile_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile_nav_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_list_container {
  height: 0;
  overflow: hidden;
}

.show_navList_container {
  height: 100px;
  color: #fff;
  background-color: #000;
}

.close_icon_btn {
  display: none;
  border-radius: 50%;
  background-color: #000;
}
